---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Fag">
    <section><h1>Flag</h1></section>
</Layout>

<style>
    section{
        padding-top:50px ;
        text-align: center;
    }
</style>