---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Nosotros">
    <section>
        <h1>Nosotros</h1>
    </section>
</Layout>
<style>
    section{
        padding: 50px;
    }    
</style>
