---
import Layout from "../layouts/Layout.astro";
import {resultPoke} from "../servicios/apiPokemon"
const pokes = await resultPoke();
import Poke from "../components/Poke.astro";
---

<Layout title="Prueba">
    <section>
        {
            pokes.map((poke) => (
                <Poke  id={poke.id} image={poke.image} />         
            ))
        }
    </section>
</Layout>

<style>
    section {
        padding: 50px;
    }
</style>




















