---
import MenuContainer from '../components/MenuContainer.astro';
import MenuItem from '../components/MenuItem.astro';
import {menu_valores} from '../datos/menu_valores';

---
<nav>
    <MenuContainer>
        {
            menu_valores.map((valor) =>(
                <MenuItem {...valor}/>
            ))
        }
    </MenuContainer>
</nav>
<style>
    nav{
        position: fixed;
        display: flex;
        top: 0;
        width: 100%;
        height: 50px;
        justify-content: space-around;
        align-items: center;
        background-color: gray;
        
    }

    nav div{
        position: absolute;
        width: 70%;
        height: 100%;
        color:white;
        /* background-color: brown; */
    }
</style>















