---
import PostVista from "../components/PostVista.astro";
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob('../pages/posts/*.md')
---

    <section id="markdawon">
         <article>
            {
                posts.map((post)=>(
                    <PostVista  posts={post}/>
                ))
            }
         </article>
    </section>

<style>
    section{
        padding-top:50px ;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    article{
        width: 400px;
    }
</style>