---
import PostVista from "../components/PostVista.astro";
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob('../pages/posts/*.md')
---
<section id="markdawon">
        <h1>markdawon</h1>
         <article>
            {
                posts.map((post)=>(
                    <PostVista  posts={post}/>
                ))
            }
         </article>
    </section>

<style>
    
    section{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    section article{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
    }
</style>
















