---
import type { menu_tipo_valores } from "../tiposDatos/menu_tipo_valores";
interface Props extends menu_tipo_valores {}
const { title, url } = Astro.props;
---

<li>
  <a href={url}>{title}</a>
</li>

<style>
  li a {
    cursor: pointer;
    text-decoration: none;

    color: white;
    display: block;
    text-align: center;
    padding: 30px 30px;
  }
</style>
