---
import { type APIResult } from "../tiposDatos/api";
import { apiconeccion } from "../servicios/apiconeccion";
import Personajes from "../components/Personajes.astro";
const datos = (await apiconeccion()) as APIResult;

console.log(datos);
---

<section id="movies">
  <h1>Movies</h1>
  <article>
    {
      datos.map(({ name, image, id }) => (
        <Personajes name={name} image={image} id={id} />
        // <Personajes dibujo={dibujo}/>
      ))
    }
  </article>
</section>

<style>
  h1 {
    text-align: center;
  }
  section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  article {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    padding-top: 50px;
  }
</style>
