---
import RespuestaItem from "../components/RespuestaItem.astro";
import { pR } from "../datos/pR";
import Layout from "../layouts/Layout.astro";
---
    <section id="preguntaRespuesta">
        <article>
            {
                pR.map((dato) => {
                    return <RespuestaItem datos={dato} />;
                })
            }
        </article>
    </section>

<style>
    section{
        padding-top: 50px ;
    }
</style>
 