---
import type {preguntasRespuesta} from '../tiposDatos/preguntaRespuesta'
export interface Props{
    datos:preguntasRespuesta;
}
const {datos} = Astro.props
console.log(datos);
---
<div>
    <h3>{datos.pregunta}</h3>
    <p>{datos.respuesta}</p>
</div>

<style>
    div{
        color: black;
    }
</style>